<!-- pricing area -->
        <div class="pricing-area pb-100">
            <div class="container">
                <div class="row">
                    <div class="col-lg-6 mx-auto">
                        <div class="site-heading text-center wow fadeInDown" data-wow-delay=".25s">
                            <span class="site-title-tagline"><i class="far fa-helmet-safety"></i> Pricing Plan</span>
                            <h2 class="site-title">Let's Check Our <span>Pricing</span> Plan For You</h2>
                            <div class="heading-divider"></div>
                        </div>
                    </div>
                </div>
                <div class="row g-4 g-lg-5">
                    <div class="col-md-6 col-lg-4">
                        <div class="pricing-item wow fadeInUp" data-wow-delay=".25s">
                            <div class="pricing-header">
                                <h5>Basic</h5>
                            </div>
                            <div class="pricing-price">
                                <div class="pricing-icon">
                                    <img src="assets/img/icon/building.svg" alt="">
                                </div>
                                <div class="pricing-amount">
                                    <strong>$359</strong><span class="pricing-amount-type">/Monthly</span>
                                </div>
                            </div>
                            <div class="pricing-btn">
                                <a href="pricing.html" class="theme-btn2">Purchase Now <i class="fas fa-arrow-right"></i></a>
                            </div>
                            <div class="pricing-feature">
                                <ul>
                                    <li><i class="fas fa-check-circle"></i>All Basic Services</li>
                                    <li><i class="fas fa-check-circle"></i>Apartment Design</li>
                                    <li><i class="fas fa-check-circle"></i>House Planning & Design</li>
                                    <li><i class="fas fa-check-circle"></i>Custom House Design</li>
                                    <li><i class="fas fa-xmark-circle not-include"></i>Building Maintenance</li>
                                    <li><i class="fas fa-xmark-circle not-include"></i>24/7 Customer Support</li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6 col-lg-4">
                        <div class="pricing-item active wow fadeInDown" data-wow-delay=".25s">
                            <div class="pricing-header">
                                <h5>Standard</h5>
                            </div>
                            <div class="pricing-price">
                                <div class="pricing-icon">
                                    <img src="assets/img/icon/building.svg" alt="">
                                </div>
                                <div class="pricing-amount">
                                    <strong>$559</strong><span class="pricing-amount-type">/Monthly</span>
                                </div>
                            </div>
                            <div class="pricing-btn">
                                <a href="pricing.html" class="theme-btn">Purchase Now <i class="fas fa-arrow-right"></i></a>
                            </div>
                            <div class="pricing-feature">
                                <ul>
                                    <li><i class="fas fa-check-circle"></i>All Basic Services</li>
                                    <li><i class="fas fa-check-circle"></i>Apartment Design</li>
                                    <li><i class="fas fa-check-circle"></i>House Planning & Design</li>
                                    <li><i class="fas fa-check-circle"></i>Custom House Design</li>
                                    <li><i class="fas fa-check-circle"></i>Building Maintenance</li>
                                    <li><i class="fas fa-xmark-circle not-include"></i>24/7 Customer Support</li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6 col-lg-4">
                        <div class="pricing-item wow fadeInUp" data-wow-delay=".25s">
                            <div class="pricing-header">
                                <h5>Premium</h5>
                            </div>
                            <div class="pricing-price">
                                <div class="pricing-icon">
                                    <img src="assets/img/icon/building.svg" alt="">
                                </div>
                                <div class="pricing-amount">
                                    <strong>$959</strong><span class="pricing-amount-type">/Monthly</span>
                                </div>
                            </div>
                            <div class="pricing-btn">
                                <a href="pricing.html" class="theme-btn2">Purchase Now <i class="fas fa-arrow-right"></i></a>
                            </div>
                            <div class="pricing-feature">
                                <ul>
                                    <li><i class="fas fa-check-circle"></i>All Basic Services</li>
                                    <li><i class="fas fa-check-circle"></i>Apartment Design</li>
                                    <li><i class="fas fa-check-circle"></i>House Planning & Design</li>
                                    <li><i class="fas fa-check-circle"></i>Custom House Design</li>
                                    <li><i class="fas fa-check-circle"></i>Building Maintenance</li>
                                    <li><i class="fas fa-check-circle"></i>24/7 Customer Support</li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- pricing area end -->


       