   <!-- partner area -->
        <div class="partner-area bg pt-60 pb-60">
            <div class="container">
                <div class="partner-wrapper partner-slider">
                    <owl-carousel-o [options]="logoSlide">
                        
                        <ng-template carouselSlide>
                             <img src="assets/img/partner/01.png" alt="thumb">
                        </ng-template>
                         <ng-template carouselSlide>
                             <img src="assets/img/partner/02.png" alt="thumb">
                        </ng-template>
                         <ng-template carouselSlide>
                             <img src="assets/img/partner/03.png" alt="thumb">
                        </ng-template>
                         <ng-template carouselSlide>
                            <img src="assets/img/partner/01.png" alt="thumb">
                        </ng-template>
                         <ng-template carouselSlide>
                             <img src="assets/img/partner/02.png" alt="thumb">
                        </ng-template>
                         <ng-template carouselSlide>
                             <img src="assets/img/partner/03.png" alt="thumb">
                        </ng-template>
                         <ng-template carouselSlide>
                            <img src="assets/img/partner/02.png" alt="thumb">
                        </ng-template>
                     </owl-carousel-o>                    
                </div>
            </div>
        </div>
        <!-- partner area end -->