  <div class="site-breadcrumb" style="background: url(../../../assets/img/portfolio/04.jpg)">
            <div class="container">
                <h2 class="breadcrumb-title">Portfolio</h2>
                <ul class="breadcrumb-menu">
                    <li><a href="index.html">Home</a></li>
                    <li class="active">Portfolio</li>
                </ul>
            </div>
        </div>



<div class="portfolio-area py-120">
            <div class="container">
                <div class="row">
                    <div class="col-lg-6 mx-auto">
                        <div class="site-heading text-center">
                            <span class="site-title-tagline"><i class="far fa-helmet-safety"></i> Our Portfolio</span>
                            <h2 class="site-title">Let's check our latest portfolio</h2>
                        </div>
                    </div>
                </div>
                <div class="row g-4 popup-gallery">
                    <div class="col-lg-4">
                        <div class="portfolio-item">
                            <div class="portfolio-img">
                                <img class="img-fluid" src="assets/img/portfolio/01.jpg" alt="">
                                <a class="popup-img portfolio-link" href="assets/img/portfolio/01.jpg"> <i class="far fa-plus"></i></a>
                            </div>
                            <div class="portfolio-content">
                                <div class="portfolio-info">
                                    <small>Construction</small>
                                    <h4><a href="portfolio-single.html">Residential Building</a></h4>
                                </div>
                                <a href="portfolio-single.html" class="portfolio-arrow"><i class="fas fa-arrow-right"></i></a>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4">
                        <div class="portfolio-item">
                            <div class="portfolio-img">
                                <img class="img-fluid" src="assets/img/portfolio/02.jpg" alt="">
                                <a class="popup-img portfolio-link" href="assets/img/portfolio/02.jpg"> <i class="far fa-plus"></i></a>
                            </div>
                            <div class="portfolio-content">
                                <div class="portfolio-info">
                                    <small>Architecture</small>
                                    <h4><a href="portfolio-single.html">Building Design</a></h4>
                                </div>
                                <a href="portfolio-single.html" class="portfolio-arrow"><i class="fas fa-arrow-right"></i></a>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4">
                        <div class="portfolio-item">
                            <div class="portfolio-img">
                                <img class="img-fluid" src="assets/img/portfolio/03.jpg" alt="">
                                <a class="popup-img portfolio-link" href="assets/img/portfolio/03.jpg"> <i class="far fa-plus"></i></a>
                            </div>
                            <div class="portfolio-content">
                                <div class="portfolio-info">
                                    <small>Apartment</small>
                                    <h4><a href="portfolio-single.html">Empire Apartment</a></h4>
                                </div>
                                <a href="portfolio-single.html" class="portfolio-arrow"><i class="fas fa-arrow-right"></i></a>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4">
                        <div class="portfolio-item">
                            <div class="portfolio-img">
                                <img class="img-fluid" src="assets/img/portfolio/04.jpg" alt="">
                                <a class="popup-img portfolio-link" href="assets/img/portfolio/04.jpg"> <i class="far fa-plus"></i></a>
                            </div>
                            <div class="portfolio-content">
                                <div class="portfolio-info">
                                    <small>Maintenance</small>
                                    <h4><a href="portfolio-single.html">Modern Complex</a></h4>
                                </div>
                                <a href="portfolio-single.html" class="portfolio-arrow"><i class="fas fa-arrow-right"></i></a>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4">
                        <div class="portfolio-item">
                            <div class="portfolio-img">
                                <img class="img-fluid" src="assets/img/portfolio/05.jpg" alt="">
                                <a class="popup-img portfolio-link" href="assets/img/portfolio/05.jpg"> <i class="far fa-plus"></i></a>
                            </div>
                            <div class="portfolio-content">
                                <div class="portfolio-info">
                                    <small>Contract</small>
                                    <h4><a href="portfolio-single.html">General Contract</a></h4>
                                </div>
                                <a href="portfolio-single.html" class="portfolio-arrow"><i class="fas fa-arrow-right"></i></a>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4">
                        <div class="portfolio-item">
                            <div class="portfolio-img">
                                <img class="img-fluid" src="assets/img/portfolio/01.jpg" alt="">
                                <a class="popup-img portfolio-link" href="assets/img/portfolio/01.jpg"> <i class="far fa-plus"></i></a>
                            </div>
                            <div class="portfolio-content">
                                <div class="portfolio-info">
                                    <small>Maintenance</small>
                                    <h4><a href="portfolio-single.html">House Maintenance</a></h4>
                                </div>
                                <a href="portfolio-single.html" class="portfolio-arrow"><i class="fas fa-arrow-right"></i></a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>