<div class="site-breadcrumb" style="background: url(../../../assets/img/portfolio/02.jpg)">
            <div class="container">
                <h2 class="breadcrumb-title">About Us</h2>
                <ul class="breadcrumb-menu">
                    <li><a href="index.html">Home</a></li>
                    <li class="active">About Us</li>
                </ul>
            </div>
        </div>

        <app-aboutsection></app-aboutsection>
        <app-projectskills></app-projectskills>
        <app-workingprocess></app-workingprocess>

        <div class="testimonial-area ts-bg pt-90 pb-40">
            <div class="container">
                <div class="row">
                    <div class="col-lg-4">
                        <div class="site-heading wow fadeInDown" data-wow-delay=".25s" style="visibility: visible; animation-delay: 0.25s; animation-name: fadeInDown;">
                            <span class="site-title-tagline"><i class="far fa-helmet-safety"></i> Testimonials</span>
                            <h2 class="site-title text-white">What Our Client <span>Say's</span> about us</h2>
                            <p class="text-white">
                                It is a long established fact that a reader will be distracted by the readable content
                                of a page when Internet tend to repeat predefined chunks.
                            </p>
                            <a href="contact.html" class="theme-btn mt-30">Know More <i class="fas fa-arrow-right"></i></a>
                        </div>
                    </div>
                    <div class="col-lg-8">
                        <div class="testimonial-slider  owl-theme wow fadeInUp owl-loaded owl-drag" data-wow-delay=".25s" style="visibility: visible; animation-delay: 0.25s; animation-name: fadeInUp;">                            
                        
                        <owl-carousel-o [options]="aboutTestimonial">
                            <ng-template carouselSlide>
                                   <div class="testimonial-item">
                                <div class="testimonial-content">
                                    <div class="testimonial-author-img">
                                        <img src="assets/img/testimonial/03.jpg" alt="">
                                    </div>
                                    <div class="testimonial-author-info">
                                        <h4>Ebony Swihart</h4>
                                        <p>Customer</p>
                                        <div class="testimonial-rate">
                                            <i class="fas fa-star"></i>
                                            <i class="fas fa-star"></i>
                                            <i class="fas fa-star"></i>
                                            <i class="fas fa-star"></i>
                                            <i class="fas fa-star"></i>
                                        </div>
                                    </div>
                                </div>
                                <div class="testimonial-quote">
                                    <div class="testimonial-quote-icon">
                                        <img src="../../../assets/img/icon/quoteab.svg" alt="">
                                    </div>
                                    <p>
                                        There are many variations passage available the majority have suffered of alteration in some form by the injected humour or randomised words which look even slightly believable.
                                    </p>
                                </div>
                            </div>
                            </ng-template>
                             <ng-template carouselSlide>
                                 <div class="testimonial-item">
                                <div class="testimonial-content">
                                    <div class="testimonial-author-img">
                                        <img src="assets/img/testimonial/04.jpg" alt="">
                                    </div>
                                    <div class="testimonial-author-info">
                                        <h4>Loreta Jones</h4>
                                        <p>Customer</p>
                                        <div class="testimonial-rate">
                                            <i class="fas fa-star"></i>
                                            <i class="fas fa-star"></i>
                                            <i class="fas fa-star"></i>
                                            <i class="fas fa-star"></i>
                                            <i class="fas fa-star"></i>
                                        </div>
                                    </div>
                                </div>
                                <div class="testimonial-quote">
                                    <div class="testimonial-quote-icon">
                                        <img src="../../../assets/img/icon/quoteab.svg" alt="">
                                    </div>
                                    <p>
                                        There are many variations passage available the majority have suffered of alteration in some form by the injected humour or randomised words which look even slightly believable.
                                    </p>
                                </div>
                            </div>
                            </ng-template>
                             <ng-template carouselSlide>
                                  <div class="testimonial-item">
                                <div class="testimonial-content">
                                    <div class="testimonial-author-img">
                                        <img src="assets/img/testimonial/01.jpg" alt="">
                                    </div>
                                    <div class="testimonial-author-info">
                                        <h4>Niesha Phips</h4>
                                        <p>Customer</p>
                                        <div class="testimonial-rate">
                                            <i class="fas fa-star"></i>
                                            <i class="fas fa-star"></i>
                                            <i class="fas fa-star"></i>
                                            <i class="fas fa-star"></i>
                                            <i class="fas fa-star"></i>
                                        </div>
                                    </div>
                                </div>
                                <div class="testimonial-quote">
                                    <div class="testimonial-quote-icon">
                                        <img src="../../../assets/img/icon/quoteab.svg" alt="">
                                    </div>
                                    <p>
                                        There are many variations passage available the majority have suffered of alteration in some form by the injected humour or randomised words which look even slightly believable.
                                    </p>
                                </div>
                            </div>
                            </ng-template>
                             <ng-template carouselSlide>
                                <div class="testimonial-item">
                                <div class="testimonial-content">
                                    <div class="testimonial-author-img">
                                        <img src="assets/img/testimonial/02.jpg" alt="">
                                    </div>
                                    <div class="testimonial-author-info">
                                        <h4>Daniel Porter</h4>
                                        <p>Customer</p>
                                        <div class="testimonial-rate">
                                            <i class="fas fa-star"></i>
                                            <i class="fas fa-star"></i>
                                            <i class="fas fa-star"></i>
                                            <i class="fas fa-star"></i>
                                            <i class="fas fa-star"></i>
                                        </div>
                                    </div>
                                </div>
                                <div class="testimonial-quote">
                                    <div class="testimonial-quote-icon">
                                        <img src="../../../assets/img/icon/quoteab.svg" alt="">
                                    </div>
                                    <p>
                                        There are many variations passage available the majority have suffered of alteration in some form by the injected humour or randomised words which look even slightly believable.
                                    </p>
                                </div>
                            </div>
                            </ng-template>
                             <ng-template carouselSlide>
                                  <div class="testimonial-item">
                                <div class="testimonial-content">
                                    <div class="testimonial-author-img">
                                        <img src="assets/img/testimonial/04.jpg" alt="">
                                    </div>
                                    <div class="testimonial-author-info">
                                        <h4>Loreta Jones</h4>
                                        <p>Customer</p>
                                        <div class="testimonial-rate">
                                            <i class="fas fa-star"></i>
                                            <i class="fas fa-star"></i>
                                            <i class="fas fa-star"></i>
                                            <i class="fas fa-star"></i>
                                            <i class="fas fa-star"></i>
                                        </div>
                                    </div>
                                </div>
                                <div class="testimonial-quote">
                                    <div class="testimonial-quote-icon">
                                        <img src="../../../assets/img/icon/quoteab.svg" alt="">
                                    </div>
                                    <p>
                                        There are many variations passage available the majority have suffered of alteration in some form by the injected humour or randomised words which look even slightly believable.
                                    </p>
                                </div>
                            </div>
                            </ng-template>
                             <ng-template carouselSlide>
                                <div class="testimonial-item">
                                <div class="testimonial-content">
                                    <div class="testimonial-author-img">
                                        <img src="assets/img/testimonial/03.jpg" alt="">
                                    </div>
                                    <div class="testimonial-author-info">
                                        <h4>Ebony Swihart</h4>
                                        <p>Customer</p>
                                        <div class="testimonial-rate">
                                            <i class="fas fa-star"></i>
                                            <i class="fas fa-star"></i>
                                            <i class="fas fa-star"></i>
                                            <i class="fas fa-star"></i>
                                            <i class="fas fa-star"></i>
                                        </div>
                                    </div>
                                </div>
                                <div class="testimonial-quote">
                                    <div class="testimonial-quote-icon">
                                        <img src="../../../assets/img/icon/quoteab.svg" alt="">
                                    </div>
                                    <p>
                                        There are many variations passage available the majority have suffered of alteration in some form by the injected humour or randomised words which look even slightly believable.
                                    </p>
                                </div>
                            </div>
                            </ng-template>
                            
                        </owl-carousel-o>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        
        <div class="mb-60">
            <app-team></app-team>
        </div>