 <!-- process area -->
        <div class="process-area py-120">
            <div class="container">
                <div class="row">
                    <div class="col-lg-6 mx-auto">
                        <div class="site-heading text-center wow fadeInDown" data-wow-delay=".25s">
                            <span class="site-title-tagline"><i class="far fa-helmet-safety"></i> Working
                                Process</span>
                            <h2 class="site-title">Easy steps for <span>constux</span></h2>
                            <div class="heading-divider"></div>
                        </div>
                    </div>
                </div>
                <div class="process-wrap mt-3 wow fadeInUp" data-wow-delay=".25s">
                    <div class="row g-4">
                        <div class="col-md-6 col-lg-4 col-xl-3">
                            <div class="process-item">
                                <span class="count">01</span>
                                <div class="icon">
                                    <img src="assets/img/icon/service.svg" alt="">
                                </div>
                                <div class="content">
                                    <h4>Choose Service</h4>
                                    <p>It is a long established fact that a reader will be distracted by the readable
                                        content of a page.</p>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6 col-lg-4 col-xl-3">
                            <div class="process-item">
                                <span class="count">02</span>
                                <div class="icon">
                                    <img src="assets/img/icon/consultation.svg" alt="">
                                </div>
                                <div class="content">
                                    <h4>Free Consultant</h4>
                                    <p>It is a long established fact that a reader will be distracted by the readable
                                        content of a page.</p>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6 col-lg-4 col-xl-3">
                            <div class="process-item">
                                <span class="count">03</span>
                                <div class="icon">
                                    <img src="assets/img/icon/money.svg" alt="">
                                </div>
                                <div class="content">
                                    <h4>Estimate Budget</h4>
                                    <p>It is a long established fact that a reader will be distracted by the readable
                                        content of a page.</p>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6 col-lg-4 col-xl-3">
                            <div class="process-item">
                                <span class="count">04</span>
                                <div class="icon">
                                    <img src="assets/img/icon/construction-2.svg" alt="">
                                </div>
                                <div class="content">
                                    <h4>Project Production</h4>
                                    <p>It is a long established fact that a reader will be distracted by the readable
                                        content of a page.</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- process area end -->