  <!-- quote-area -->
        <div class="quote-area pt-100">
            <div class="quote-wrap" style="background-image: url(assets/img/quote/01.jpg);">
                <div class="container">
                    <div class="row">
                        <div class="col-lg-7 ms-auto">
                            <div class="quote-content">
                                <div class="quote-head">
                                    <h3>Request A Quote</h3>
                                    <p>It is a long established fact that a reader will be distracted by the
                                        readable content of majority have suffered alteration page when looking at its layout.</p>
                                </div>
                                <div class="quote-form">
                                    <form action="#">
                                        <div class="row">
                                            <div class="col-lg-6">
                                                <div class="form-group">
                                                    <div class="form-icon">
                                                        <i class="far fa-user-tie"></i>
                                                        <input type="text" class="form-control" placeholder="Your Name">
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-lg-6">
                                                <div class="form-group">
                                                    <div class="form-icon">
                                                        <i class="far fa-envelope"></i>
                                                        <input type="email" class="form-control" placeholder="Your Email">
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-lg-6">
                                                <div class="form-group">
                                                    <div class="form-icon">
                                                        <i class="far fa-phone"></i>
                                                        <input type="text" class="form-control" placeholder="Your Phone">
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-lg-6">
                                                <div class="form-group">
                                                    <div class="form-icon">
                                                        <i class="far fa-box"></i>
                                                        <select class="select">
                                                            <option value="">Choose Service</option>
                                                            <option value="1">Service One</option>
                                                            <option value="2">Service Two</option>
                                                            <option value="3">Service Three</option>
                                                        </select>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-lg-12">
                                                <div class="form-group">
                                                    <div class="form-icon">
                                                        <i class="far fa-comment-lines"></i>
                                                        <textarea class="form-control" cols="30" rows="4" placeholder="Your Message"></textarea>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-lg-12">
                                                <button type="submit" class="theme-btn">Register Now<i class="fas fa-arrow-right"></i></button>
                                            </div>
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- quote-area end -->