    <!-- header area -->
    <header class="header">

        <!-- header top -->
        <div class="header-top">
            <div class="container">
                <div class="header-top-wrap">
                    <div class="header-top-left">
                        <div class="header-top-list">
                            <ul>
                                <li class="list-item">
                                    <div class="icon">
                                        <img src="../../../assets/img/icon/email.svg" alt="">
                                    </div>
                                    <div class="content">
                                        <h6>Email</h6>
                                        <a href=""><span class="">info&#64;hunterproperty.com</span></a>
                                    </div>
                                </li>
                                <li class="list-item">
                                    <div class="icon">
                                        <img src="../../../assets/img/icon/phone.svg" alt="">
                                    </div>
                                    <div class="content">
                                        <h6>Phone</h6>
                                        <a href="tel:+07550110784">+075501 10784</a>
                                    </div>
                                </li>
                                <li class="list-item">
                                    <div class="icon">
                                        <img src="../../../assets/img/icon/clock.svg" alt="">
                                    </div>
                                    <div class="content">
                                        <h6>Time</h6>
                                        <a href="#">Sun - Fri (08AM - 10PM)</a>
                                    </div>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div class="header-top-right">
                        
                        
                        <div class="header-top-social">
                            <span>Follow Us: </span>
                            <a href="#"><i class="fab fa-facebook"></i></a>
                            <a href="#"><i class="fab fa-x-twitter"></i></a>
                            <a href="#"><i class="fab fa-instagram"></i></a>
                            <a href="#"><i class="fab fa-linkedin"></i></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- header top end -->

        <!-- navbar -->
        <div class="main-navigation">
            <nav class="navbar navbar-expand-lg">
                <div class="container position-relative">
                    <a class="navbar-brand" href="index.html">
                        <img src="assets/img/logo/logo.png" alt="logo">
                    </a>
                    <div class="mobile-menu-right">
                        <div class="mobile-menu-btn">
                            <button type="button" class="nav-right-link search-box-outer"><i class="far fa-search"></i></button>
                        </div>
                        <button class="navbar-toggler" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasNavbar" aria-controls="offcanvasNavbar" aria-label="Toggle navigation">
                            <span></span>
                            <span></span>
                            <span></span>
                        </button>
                    </div>
                    <div class="offcanvas offcanvas-start" tabindex="-1" id="offcanvasNavbar" aria-labelledby="offcanvasNavbarLabel">
                        <div class="offcanvas-header">
                            <a href="index.html" class="offcanvas-brand" id="offcanvasNavbarLabel">
                                <img src="../../../assets/img/logo/logo.png" alt="">
                            </a>
                            <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"><i class="far fa-xmark"></i></button>
                        </div>
                        <div class="offcanvas-body gap-xl-4">
                            <ul class="navbar-nav justify-content-end flex-grow-1">
                                <li class="nav-item"><a class="nav-link" [routerLink]="''" [routerLinkActive]="'active'" [routerLinkActiveOptions]="{exact:true}">Home</a></li>
                                <li class="nav-item"><a class="nav-link" [routerLink]="'/about'" [routerLinkActive]="'active'">About</a></li>
                                 <li class="nav-item"><a class="nav-link" [routerLink]="'/services'" [routerLinkActive]="'active'">Services</a></li>
                                 <li class="nav-item"><a class="nav-link" [routerLink]="'/portfolio'" [routerLinkActive]="'active'">Portfolio</a></li>
                                <li class="nav-item"><a class="nav-link" [routerLink]="'/blog'" [routerLinkActive]="'active'">Blog</a> </li>
                                <li class="nav-item"><a class="nav-link" [routerLink]="'/contactus'" [routerLinkActive]="'active'">Contact</a></li>
                            </ul>
                            <!-- nav-right -->
                            <div class="nav-right">
                                <div class="nav-btn">
                                    <a href="contact.html" class="theme-btn">Let's Talk<i class="fas fa-arrow-right"></i></a>
                                </div>
                                <button type="button" class="sidebar-btn nav-right-link" data-bs-toggle="offcanvas" data-bs-target="#sidebarPopup">
                                    <span></span>
                                    <span></span>
                                    <span></span>
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
            </nav>
        </div>
        <!-- navbar end-->

    </header>
    <!-- header area end -->

      <!-- sidebar-popup -->
    <div class="sidebar-popup offcanvas offcanvas-end" tabindex="-1" id="sidebarPopup">
        <div class="offcanvas-header">
            <a href="index.html" class="sidebar-popup-logo">
                <img src="assets/img/logo/logo.png" alt="">
            </a>
            <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close">
                <i class="far fa-xmark"></i>
            </button>
        </div>
        <div class="sidebar-popup-wrap offcanvas-body">
            <div class="sidebar-popup-content">
                <div class="sidebar-popup-about">
                    <h4>About Us</h4>
                    <p>There are many variations of passages available sure there majority have suffered alteration in
                        some form by inject humour or randomised words which don't look even slightly believable.</p>
                </div>
                <div class="sidebar-popup-contact">
                    <h4>Contact Info</h4>
                    <ul>
                        <li>
                            <div class="icon">
                                <i class="far fa-envelope"></i>
                            </div>
                            <div class="content">
                                <h6>Email</h6>
                                <a href=""><span class="">info&#64;hunterproperty.com</span></a>
                            </div>
                        </li>
                        <li>
                            <div class="icon">
                                <i class="far fa-phone"></i>
                            </div>
                            <div class="content">
                                <h6>Phone</h6>
                                <a href="tel:+07550110784">+075501 10784</a>
                            </div>
                        </li>
                        <li>
                            <div class="icon">
                                <i class="far fa-location-dot"></i>
                            </div>
                            <div class="content">
                                <h6>Address</h6>
                                <a href="#">61 Mir Bakshi Ali Street Royapettah Chennai-14, Tamilnadu, India</a>
                            </div>
                        </li>
                    </ul>
                </div>
                <div class="sidebar-popup-social">
                    <h4>Follow Us</h4>
                    <a href="#"><i class="fab fa-facebook"></i></a>
                    <a href="#"><i class="fab fa-x-twitter"></i></a>
                    <a href="#"><i class="fab fa-instagram"></i></a>
                    <a href="#"><i class="fab fa-linkedin"></i></a>
                </div>
            </div>
        </div>
    </div>
    <!-- sidebar-popup end -->

<div class="sidebaricons">
        <div class="whatsapp-icon" (click)="goToWhatsApp()">
            <i class="fa-brands fa-whatsapp"></i>
        </div>
        <div class="call-icon" (click)="callNow()">
            <i class="fa-solid fa-phone"></i>
        </div>
    </div>