.sidebar-popup-contact li .loc-icon{
    width: 72px;
}
.sidebar-popup-contact li a{
    text-decoration: none;
}
button.btn-close {
    background: #fc8c03!important;
    color: #fff;
    border-radius: 100%;
    opacity: 1;
}