 <!-- about area -->
        <div class="about-area py-120 mb-20">
            <div class="container">
                <div class="row">
                    <div class="col-lg-6">
                        <div class="about-left wow fadeInLeft" data-wow-delay=".25s">
                            <div class="about-img">
                                <img class="img-1" src="assets/img/about/01.jpg" alt="">
                                <img class="img-2" src="assets/img/about/02.jpg" alt="">
                            </div>
                            <div class="about-experience">
                                <h5>15<span>+</span></h5>
                                <p>Years Of Experience</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-6">
                        <div class="about-right wow fadeInUp" data-wow-delay=".25s">
                            <div class="site-heading mb-3">
                                <span class="site-title-tagline"><i class="far fa-helmet-safety"></i> About Us</span>
                                <h2 class="site-title">We Are The <span>Best and Expert</span> For Construction</h2>
                            </div>
                            <p class="about-text">At Hunter Property, real estate is not just our business—it’s our legacy. As a trusted construction company in Chennai with three generations of experience, we specialize in building premium homes, commercial spaces, and builder-ready land projects tailored to your lifestyle and aspirations.</p>
                            <p class="about-text">From family residences in Chennai to commercial construction, real estate development, and land partnerships, we offer unmatched local market expertise, transparent service, and a deep commitment to quality. Whether you are buying property in Chennai, selling land, leasing commercial buildings, or investing in real estate, our mission is to bring your vision to life—on time, and with precision.</p>
                           <p class="about-text">We don’t just construct buildings—we build trust, value, and long-lasting relationships with every project we undertake.</p>

                            <a [routerLink]="'/about'" [routerLinkActive]="'active'" class="theme-btn">Discover More<i class="fas fa-arrow-right"></i></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- about area end -->