.testimonial-author-info h4 {
    font-size: 20px;
    color: #fc8c03;
}
.testimonial-author-info p
 {
    color: #000000;
    font-weight: 600;
    font-size: 15px;
    margin: 0px;
}
.testimonial-content{
    display: inherit;
}