 <!-- portfolio area -->
        <div class="portfolio-area pt-80 pb-120">
            <div class="pa-bg" style="background-image: url(assets/img/portfolio/bg.jpg);"></div>
            <div class="container">
                <div class="row">
                    <div class="col-lg-6 mx-auto">
                        <div class="site-heading text-center">
                            <span class="site-title-tagline"><i class="far fa-helmet-safety"></i> Our Portfolio</span>
                            <h2 class="site-title text-white">Let's check our latest portfolio</h2>
                        </div>
                    </div>
                </div>
                <div class="row popup-gallery">
                    <div class="portfolio-slider">
                        <owl-carousel-o [options]="portfolioSlide">
                            
                            <ng-template carouselSlide>
                                <div class="portfolio-item">
                            <div class="portfolio-img">
                                <img class="img-fluid" src="assets/img/portfolio/01.jpg" alt="">
                                <a class="popup-img portfolio-link" href="assets/img/portfolio/01.jpg"> <i class="far fa-plus"></i></a>
                            </div>
                            <div class="portfolio-content">
                                <div class="portfolio-info">
                                    <small>Construction</small>
                                    <h4><a href="portfolio-single.html">Residential Building</a></h4>
                                </div>
                                <a href="portfolio-single.html" class="portfolio-arrow"><i class="fas fa-arrow-right"></i></a>
                            </div>
                        </div>
                            </ng-template>
                            <ng-template carouselSlide>
                                <div class="portfolio-item">
                            <div class="portfolio-img">
                                <img class="img-fluid" src="assets/img/portfolio/02.jpg" alt="">
                                <a class="popup-img portfolio-link" href="assets/img/portfolio/02.jpg"> <i class="far fa-plus"></i></a>
                            </div>
                            <div class="portfolio-content">
                                <div class="portfolio-info">
                                    <small>Architecture</small>
                                    <h4><a href="portfolio-single.html">Building Design</a></h4>
                                </div>
                                <a href="portfolio-single.html" class="portfolio-arrow"><i class="fas fa-arrow-right"></i></a>
                            </div>
                        </div>
                            </ng-template>
                            <ng-template carouselSlide>
                                <div class="portfolio-item">
                            <div class="portfolio-img">
                                <img class="img-fluid" src="assets/img/portfolio/03.jpg" alt="">
                                <a class="popup-img portfolio-link" href="assets/img/portfolio/03.jpg"> <i class="far fa-plus"></i></a>
                            </div>
                            <div class="portfolio-content">
                                <div class="portfolio-info">
                                    <small>Apartment</small>
                                    <h4><a href="portfolio-single.html">Empire Apartment</a></h4>
                                </div>
                                <a href="portfolio-single.html" class="portfolio-arrow"><i class="fas fa-arrow-right"></i></a>
                            </div>
                        </div>
                            </ng-template>
                            <ng-template carouselSlide>
                                 <div class="portfolio-item">
                            <div class="portfolio-img">
                                <img class="img-fluid" src="assets/img/portfolio/04.jpg" alt="">
                                <a class="popup-img portfolio-link" href="assets/img/portfolio/04.jpg"> <i class="far fa-plus"></i></a>
                            </div>
                            <div class="portfolio-content">
                                <div class="portfolio-info">
                                    <small>Maintenance</small>
                                    <h4><a href="portfolio-single.html">Modern Complex</a></h4>
                                </div>
                                <a href="portfolio-single.html" class="portfolio-arrow"><i class="fas fa-arrow-right"></i></a>
                            </div>
                        </div>
                            </ng-template>
                             <ng-template carouselSlide>
                                 <div class="portfolio-item">
                            <div class="portfolio-img">
                                <img class="img-fluid" src="assets/img/portfolio/05.jpg" alt="">
                                <a class="popup-img portfolio-link" href="assets/img/portfolio/05.jpg"> <i class="far fa-plus"></i></a>
                            </div>
                            <div class="portfolio-content">
                                <div class="portfolio-info">
                                    <small>Contract</small>
                                    <h4><a href="portfolio-single.html">General Contract</a></h4>
                                </div>
                                <a href="portfolio-single.html" class="portfolio-arrow"><i class="fas fa-arrow-right"></i></a>
                            </div>
                        </div>
                            </ng-template>
                        </owl-carousel-o>
                        
                        
                        
                       
                       
                    </div>
                </div>
            </div>
        </div>
        <!-- portfolio area end -->