 <!-- service area -->
        <div class="service-area sa-bg pt-60 pb-80">
            <div class="container">
                <div class="row g-4 align-items-center wow fadeInDown" data-wow-delay=".25s">
                    <div class="col-lg-6">
                        <div class="site-heading mb-0">
                            <span class="site-title-tagline"><i class="far fa-helmet-safety"></i> Services</span>
                            <h2 class="site-title text-white">What Services we are <span>provide</span> to you</h2>
                        </div>
                    </div>
                    <div class="col-lg-4">
                        <p class="text-white">
                            There are many variations of passages available but the majority have suffered alteration in
                            some form by injected humour slightly believable.
                        </p>
                    </div>
                    <div class="col-lg-2">
                        <a href="service.html" class="theme-btn">All Services<i class="fas fa-arrow-right"></i></a>
                    </div>
                </div>
                <div class="service-slider  mt-4 wow fadeInUp" data-wow-delay=".25s">
                    <owl-carousel-o [options]="serviceSlide">
 
                    <ng-template carouselSlide>
                        <div class="service-item">
                        <span class="count">01</span>
                        <div class="service-img">
                            <img src="assets/img/service/01.jpg" alt="">
                        </div>
                        <div class="service-icon">
                            <img src="assets/img/icon/construction.svg" alt="">
                        </div>
                        <div class="service-content">
                            <h4 class="service-title">
                                <a href="service-single.html">Building Construction</a>
                            </h4>
                            <p class="service-text">
                                There are many variations of passages have available but the majority have suffered some form by injected humour words believable. 
                            </p>
                            <a href="service-single.html" class="theme-btn">Learn More<i class="fas fa-arrow-right"></i></a>
                        </div>
                    </div>
                    </ng-template>
                     <ng-template carouselSlide>
                         <div class="service-item">
                        <span class="count">02</span>
                        <div class="service-img">
                            <img src="assets/img/service/02.jpg" alt="">
                        </div>
                        <div class="service-icon">
                            <img src="assets/img/icon/maintenance.svg" alt="">
                        </div>
                        <div class="service-content">
                            <h4 class="service-title">
                                <a href="service-single.html">Building Maintenance</a>
                            </h4>
                            <p class="service-text">
                                There are many variations of passages have available but the majority have suffered some form by injected humour words believable. 
                            </p>
                            <a href="service-single.html" class="theme-btn">Learn More<i class="fas fa-arrow-right"></i></a>
                        </div>
                    </div>
                    </ng-template>
                     <ng-template carouselSlide>
                         <div class="service-item">
                        <span class="count">03</span>
                        <div class="service-img">
                            <img src="assets/img/service/03.jpg" alt="">
                        </div>
                        <div class="service-icon">
                            <img src="assets/img/icon/design-2.svg" alt="">
                        </div>
                        <div class="service-content">
                            <h4 class="service-title">
                                <a href="service-single.html">Design & Estimating</a>
                            </h4>
                            <p class="service-text">
                                There are many variations of passages have available but the majority have suffered some form by injected humour words believable. 
                            </p>
                            <a href="service-single.html" class="theme-btn">Learn More<i class="fas fa-arrow-right"></i></a>
                        </div>
                    </div>
                    </ng-template>
                     <ng-template carouselSlide>
                         <div class="service-item">
                        <span class="count">04</span>
                        <div class="service-img">
                            <img src="assets/img/service/04.jpg" alt="">
                        </div>
                        <div class="service-icon">
                            <img src="assets/img/icon/plan.svg" alt="">
                        </div>
                        <div class="service-content">
                            <h4 class="service-title">
                                <a href="service-single.html">House Planning</a>
                            </h4>
                            <p class="service-text">
                                There are many variations of passages have available but the majority have suffered some form by injected humour words believable. 
                            </p>
                            <a href="service-single.html" class="theme-btn">Learn More<i class="fas fa-arrow-right"></i></a>
                        </div>
                    </div>
                    </ng-template>
                     <ng-template carouselSlide>
                         <div class="service-item">
                        <span class="count">05</span>
                        <div class="service-img">
                            <img src="assets/img/service/05.jpg" alt="">
                        </div>
                        <div class="service-icon">
                            <img src="assets/img/icon/contract.svg" alt="">
                        </div>
                        <div class="service-content">
                            <h4 class="service-title">
                                <a href="service-single.html">General Contracting</a>
                            </h4>
                            <p class="service-text">
                                There are many variations of passages have available but the majority have suffered some form by injected humour words believable. 
                            </p>
                            <a href="service-single.html" class="theme-btn">Learn More<i class="fas fa-arrow-right"></i></a>
                        </div>
                    </div>
                    </ng-template>
                     <ng-template carouselSlide>
                        <div class="service-item">
                        <span class="count">06</span>
                        <div class="service-img">
                            <img src="assets/img/service/06.jpg" alt="">
                        </div>
                        <div class="service-icon">
                            <img src="assets/img/icon/building.svg" alt="">
                        </div>
                        <div class="service-content">
                            <h4 class="service-title">
                                <a href="service-single.html">Apartment Design</a>
                            </h4>
                            <p class="service-text">
                                There are many variations of passages have available but the majority have suffered some form by injected humour words believable. 
                            </p>
                            <a href="service-single.html" class="theme-btn">Learn More<i class="fas fa-arrow-right"></i></a>
                        </div>
                    </div>
                    </ng-template>
                     <ng-template carouselSlide>
                        <div class="service-item">
                        <span class="count">07</span>
                        <div class="service-img">
                            <img src="assets/img/service/07.jpg" alt="">
                        </div>
                        <div class="service-icon">
                            <img src="assets/img/icon/sustainability.svg" alt="">
                        </div>
                        <div class="service-content">
                            <h4 class="service-title">
                                <a href="service-single.html">Building Sustainability</a>
                            </h4>
                            <p class="service-text">
                                There are many variations of passages have available but the majority have suffered some form by injected humour words believable. 
                            </p>
                            <a href="service-single.html" class="theme-btn">Learn More<i class="fas fa-arrow-right"></i></a>
                        </div>
                    </div>
                    </ng-template>
                    </owl-carousel-o>
                    
                </div>
            </div>
        </div>
        <!-- service area end -->
