.service-content p {
  min-height: 190px;
}
 .services-btn{
 margin-top: 50px;
 }
 .theme-btn, .theme-btn2{
   padding: 10px 43px;
   font-size: 20px;
 }
 .service-title{
    font-size: 20px;
 }