.modal-backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 998;
  display: none;
}
.modal-backdrop.show {
  display: block;
}
.modal-body{
    padding: 0px 20px;
}

