/* You can add global styles to this file, and also import other style files */
@import "../node_modules/bootstrap/scss/bootstrap.scss";
@import "../src/assets/css/style.css";
@import "../src/assets/css/all-fontawesome.min.css";
@import "../src/assets/css/animate.min.css";
@import "../src/assets/css/magnific-popup.min.css";
@import "../src/assets/css/nice-select.min.css";
@import url('https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css');


.owl-carousel.owl-theme.owl-loaded.owl-responsive.owl-drag {
    position: relative;
}

.owl-prev {
    position: absolute;
    left: 15px;
    top: 50%;
}
.owl-next {
    position: absolute;
    right: 15px;
    top: 50%;
}
.owl-theme .owl-nav [class*=owl-] {
    color: #fc8c03;
    font-size:23px;
    margin: 5px;
    background: #ffffff;
    display: inline-block;
    cursor: pointer;
    border-radius: 100%;
    text-align: center;
    width:42px;
    height:42px;
}
.owl-theme .owl-dots .owl-dot span {
    width: 35px;
    height: 3px;
    margin: 5px 7px;
    background: #ffffff;
    display: block;
    transition: opacity .2s ease;
    border-radius: 0px;
}
.owl-theme .owl-dots .owl-dot.active span, .owl-theme .owl-dots .owl-dot:hover span {
    background: #fc8c03;
}
.owl-theme .owl-dots {
    text-align: center;
    -webkit-tap-highlight-color: transparent;
    position: absolute;
    bottom: 20px;
    right: 0px;
    left: 0px;
}
.popup {
  position: fixed;
  top: 15%;
  left: 25%;
  right: 25%;
  background: white;
  padding: 10px;
  border-radius: 8px;
  z-index: 9999;
  display: none;
}
.close-btn {
    position: absolute;
    right: 14px;
    background: #fc8c03;
    color: #fff;
    border-radius: 100%;
    font-size: 20px;
    border: 0px;
    width: 30px;
    height: 30px;
    text-align: center;
    top: 15px;
    margin: 0px;
    padding: 0px 0px 4px 1px;
}
button.accordion-button {
    font-size: 14px;
    font-weight: 600;
}
.accordion {
    border: 0px!important;
    --bs-accordion-border-color: none;
}
.accordion-button:not(.collapsed) {
    background: none;
    outline:none;
}
.accordion-button:focus
{
    box-shadow:none
}
.pricing-feature .accordion-body {
    padding: 10px;
}
.pricing-feature .accordion-button::after{
    font-family: 'Font Awesome 6 Free';
    content: "\f067";
    font-weight: 900; 
    background:none;
    transition: none;
    width: auto;

}
.pricing-feature .accordion-button:not(.collapsed)::after{
    font-family: 'Font Awesome 6 Free';
    content: "\f068";
    font-weight: 900; 
    background:none;
    transition: none;
}

.pricing-feature .accordion-columns {
  display: flex;
}

.pricing-feature .accordion {
  flex: 1;
}

.pricing-feature .accordion-body{
  overflow-y: auto;
  height: 50vh;
  transition: max-height 0.5s ease;
  background: #fff6f6;
}
button.accordion-button.collapsed {
    border-bottom: 1px solid #ccc;
}
.pricing-feature .accordion-body::-webkit-scrollbar {
  width: 3px;
}

.pricing-feature .accordion-body::-webkit-scrollbar-track {
  background: #f1f1f1;
  border-radius: 10px;
}

.pricing-feature .accordion-body::-webkit-scrollbar-thumb {
  background: #f90; /* Orange scroll */
  border-radius: 10px;
}
.testimonial-slider .owl-theme .owl-nav{
    display: none!important;
}
.heroslider-abt img {
    height: 100px;
}
.heroslider-abt h2.hero-title {
    color: var(--color-white);
    font-size: 54px;
    font-weight: 700;
    margin: 20px 0;
    text-transform: capitalize;
}
.heroslider-abt h2.hero-title span {
      color: var(--theme-color);
}
@media screen and (max-width: 640px) and (min-width: 320px) {
.popup {
  position: fixed;
  top: 10%;
  left: 0;
  right: 0;
  background: white;
  padding: 20px;
  border-radius: 0px;
  z-index: 9999;
  display: none;
}
.header-top::before{
    width: inherit;
}
    .header-top-list ul {
        gap: 0px;
        padding: 0px;
    }
.header-top-list .list-item .content h6 {
    display: none;
}
.header-top-list .list-item .content a {
    color: #0a2155;
    text-decoration: none;
    font-weight: 700;
}
.header-top-social a{
    background: #fc8c03;
}
.header-top-list .list-item .icon{
    background: #fc8c03;
    color: #fff;
    padding-top: 3px;
}
    .header-top-list .list-item {
        gap: 4px;
        margin-top: 17px;
    }
    .modal-body{
        padding: 0px!important;
    }
    .choose-img .img-2{
        height: auto;
    }
    .heroslider-container{
        left: 0px!important;
    }
    .heroslider-container .hero-content .hero-title{
        font-size: 40px !important;
    }
    .owl-theme .owl-nav{
        display: none;
   }
   .service-item{
    margin-top: 20px;
   }
   .navbar-toggler{
    border: none;
   }
   .navbar-toggler:focus{
    box-shadow: none;
   }
}