 <!-- counter area -->
        <div class="counter-area pt-40 pb-40">
            <div class="container">
                <div class="row g-4 justify-content-center">
                    <div class="col-md-6 col-lg-4 col-xl-3">
                        <div class="counter-item wow fadeInUp" data-wow-delay=".25s">
                            <div class="icon">
                                <img src="assets/img/icon/construction.svg" alt="">
                            </div>
                            <div class="content">
                                <div class="info">
                                    <span class="counter" data-count="+" data-to="150" data-speed="3000">150</span>
                                    <span class="unit">k</span>
                                </div>
                                <h6 class="title">Projects Done</h6>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6 col-lg-4 col-xl-3">
                        <div class="counter-item wow fadeInDown" data-wow-delay=".25s">
                            <div class="icon">
                                <img src="assets/img/icon/happy.svg" alt="">
                            </div>
                            <div class="content">
                                <div class="info">
                                    <span class="counter" data-count="+" data-to="25" data-speed="3000">25</span>
                                    <span class="unit">K</span>
                                </div>
                                <h6 class="title">Happy Clients</h6>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6 col-lg-4 col-xl-3">
                        <div class="counter-item wow fadeInUp" data-wow-delay=".25s">
                            <div class="icon">
                                <img src="assets/img/icon/team-2.svg" alt="">
                            </div>
                            <div class="content">
                                <div class="info">
                                    <span class="counter" data-count="+" data-to="120" data-speed="3000">120</span>
                                    <span class="unit">+</span>
                                </div>
                                <h6 class="title">Experts Staff</h6>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6 col-lg-4 col-xl-3">
                        <div class="counter-item wow fadeInDown" data-wow-delay=".25s">
                            <div class="icon">
                                <img src="assets/img/icon/award.svg" alt="">
                            </div>
                            <div class="content">
                                <div class="info">
                                    <span class="counter" data-count="+" data-to="50" data-speed="3000">50</span>
                                    <span class="unit">+</span>
                                </div>
                                <h6 class="title">Win Awards</h6>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- counter area end -->