  <!-- footer area -->
    <footer class="footer-area">
        <div class="footer-shape">
            <img src="assets/img/shape/02.png" alt="">
        </div>
        <div class="footer-widget">
            <div class="container">
                <div class="footer-widget-wrap pt-100 pb-80">
                    <div class="row g-4">
                        <div class="col-lg-5">
                            <div class="footer-widget-box about-us">
                                <a href="#" class="footer-logo">
                                    <img src="assets/img/logo/logo-light.png" alt="">
                                </a>
                                <p class="mb-4">
                                    Hunter Property is a licensed construction company in Chennai offering residential, commercial, and interior design services. Backed by expert engineers and certified architects, we deliver quality construction, timely execution, and transparent project management.

                                </p>
                                <div class="footer-newsletter">
                                    <h6>Subscribe Our Newsletter</h6>
                                    <div class="newsletter-form">
                                        <form action="#">
                                            <div class="form-group">
                                                <div class="form-icon">
                                                    <i class="far fa-envelopes"></i>
                                                    <input type="email" class="form-control" placeholder="Your Email">
                                                    <button class="theme-btn" type="submit">
                                                        Subscribe <span class="far fa-paper-plane"></span>
                                                    </button>
                                                </div>
                                            </div>
                                        </form>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-6 col-lg-2">
                            <div class="footer-widget-box list">
                                <h4 class="footer-widget-title">Company</h4>
                                <ul class="footer-list">
                                    <li><a [routerLink]="'/about'"><i class="far fa-angle-double-right"></i>About Us</a></li>
                                    <!-- <li><a href="blog.html"><i class="far fa-angle-double-right"></i>Update News</a></li> -->
                                    <li><a [routerLink]="'/blog'"><i class="far fa-angle-double-right"></i>Blogs</a></li>
                                    <li><a [routerLink]="'/contactus'"><i class="far fa-angle-double-right"></i>Contact Us</a></li>
                                    <li><a href="terms.html"><i class="far fa-angle-double-right"></i>Terms Of Service</a></li>
                                    <li><a href="privacy.html"><i class="far fa-angle-double-right"></i>Privacy policy</a></li>
                                </ul>
                            </div>
                        </div>
                        <div class="col-6 col-lg-2">
                            <div class="footer-widget-box list">
                                <h4 class="footer-widget-title">Services</h4>
                                <ul class="footer-list">
                                    <li><a href="service.html"><i class="far fa-angle-double-right"></i>House Planning</a></li>
                                    <li><a href="service.html"><i class="far fa-angle-double-right"></i>Apartment Design</a></li>
                                    <li><a href="service.html"><i class="far fa-angle-double-right"></i>Building Construction</a></li>
                                    <li><a href="service.html"><i class="far fa-angle-double-right"></i>Architecture Design</a></li>
                                    <li><a href="service.html"><i class="far fa-angle-double-right"></i>Building Maintenance</a></li>
                                    <li><a href="service.html"><i class="far fa-angle-double-right"></i>Design & Estimating</a></li>
                                </ul>
                            </div>
                        </div>
                        <div class="col-lg-3">
                            <div class="footer-widget-box">
                                <h4 class="footer-widget-title">Get In Touch</h4>
                                <ul class="footer-contact">
                                    <li>
                                        <div class="icon">
                                            <i class="far fa-location-dot"></i>
                                        </div>
                                        <div class="content">
                                            <h6>Our Address</h6>
                                            <p>61 Mir Bakshi Ali Street Royapettah Chennai-14, Tamilnadu, India</p>
                                        </div>
                                    </li>
                                    <li>
                                        <div class="icon">
                                            <i class="far fa-phone"></i>
                                        </div>
                                        <div class="content">
                                            <h6>Call Us</h6>
                                            <a href="tel:+07550110784">+075501 10784</a>
                                        </div>
                                    </li>
                                    <li>
                                        <div class="icon">
                                            <i class="far fa-envelope"></i>
                                        </div>
                                        <div class="content">
                                            <h6>Mail Us</h6>
                                            <a href=""><span class="">hunterproperty14&#64;gmail.com</span></a>
                                        </div>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="container">
            <div class="copyright">
                <div class="row">
                    <div class="col-md-6 align-self-center">
                        <p class="copyright-text">
                            Copyright <span id="date"></span> <a href="#"> hunterproperty.in </a> All Rights Reserved.
                        </p>
                    </div>
                    <div class="col-md-6 align-self-center">
                        <ul class="footer-social">
                            <li><a href="https://www.facebook.com/Hunterpropertypvtltd/" target="_blank"><i class="fab fa-facebook-f"></i></a></li>
                            <li><a href="#"><i class="fab fa-x-twitter"></i></a></li>
                            <li><a href="https://www.instagram.com/explore/locations/2476603152370114/hunter-property-pvt-ltd/" target="_blank"><i class="fab fa-instagram"></i></a></li>
                            <li><a href="#"><i class="fab fa-linkedin-in"></i></a></li>
                            <li><a href="#"><i class="fab fa-youtube"></i></a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </footer>
    <!-- footer area end -->